<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
		{% block stylesheets %}
			{% do assets.addCss('theme://css/custom.css') %}
			{% if theme.customCss|first.name %}{% do assets.addCss(url('theme://css/custom/' ~ theme.customCss|first.name)) %}{% endif %}
		{% endblock %}
		{% block assets deferred %}
			{{ assets.css()|raw }}
		{% endblock %}
			<style>
				.lightBackground {
					background-color: {{ theme.colors.light_color|e }};
				}
				.regularBackground {
					background-color: {{ theme.colors.main_color|e }};
				}
				.darkBackground {
					background-color: {{ theme.colors.dark_color|e }};
				}
				.menuitem {
					background-color: {{ theme.colors.light_color|e }};
				}
				.postColors {
					background-color: {{ theme.colors.light_color|e }};
				}
				.menuitem:hover {
					background-color: {{ theme.colors.main_color|e }};
				}
				.postColors:hover {
					background-color: white;
				}
				
			</style>
	</head>
	<body>	
		<nav class="lightBackground">
			<a href="{{ pages.url }}">
				<img src="{% if theme.logo|first.name %}{{ url('theme://images/logo/' ~ theme.logo|first.name)  }}{% else %}{{ url('theme://images/logo/RedaCareLogo_1000_1000px_diagonal_transparent.png') }}{% endif %}" alt="{{ site.title }}" width="100" height="100">
			</a>
			{% for page in pages.children %}
				<a class="menuitem" href="{{ page.url }}">{{ page.title }}</a>
			{% endfor %}
		</nav>
		<div id="main">
		{% block content %}
		{% endblock %}
		{% if theme.homePage == page.title %}
			{% set currentPostIndex = 0 %}
			{% for post in page.children %}
				<div class="post_regular">	
					<a class="postColors" href={{ post.url }}>
						{% if currentPostIndex % 2 == 0 %}
							{% if post.media|first.url %}
								<img src="{{ post.media|first.url|e }}" alt="{{ post.media|first.url|e }}" width="200" height="200">
							{% endif %}
						{% endif %}
						<div>
							<h2 class="regular">{{ post.title|e }}</h2>
							<p class="embedded">{{ post.summary(100)|raw }}</p>
						</div>
						{% if currentPostIndex % 2 == 1 %}
							{% if post.media|first.url %}
								<img src="{{ post.media|first.url|e }}" alt="{{ post.media|first.url|e }}" width="200" height="200">
							{% endif %}
						{% endif %}
					</a>
				</div>
				{% set currentPostIndex = currentPostIndex + 1 %}
			{% endfor %}
		{% endif %}
		</div>
	</body>
</html>